# introduction to python

## overview

As we discussed in this week's lecture, programming is a powerful tool that allows us to do complicated calculations and analysis, visualize data, and automate workflows to ensure consistency, accuracy, and reproducability in our research. In this practical, you will learn and practice basic commands in python and import modules to complete more complicated tasks. In the weeks to come, you will learn to work with different GIS datasets such as vector (e.g., shapefiles) or raster files using python libraries.


## objectives
-  Learn and gain experience with some of the basic elements of python and programming
-  Learn how to use the python command line interface
-  Practice planning out a script

## data provided

In the data\_files folder, you should have the following:
-  GPSPoints.txt
-  Glaciers.shp (and associated files)

## the python interpreter

Before we get started, it's important that we check which verison of python we're running. To do this, we can use the `sys` module. After you run the following cell, you should see something like this print out:

`3.12.1 | packaged by conda-forge | (main, Dec 23 2023, 07:53:56) [MSC v.1937 64 bit (AMD64)]`

If you see a version of python other than 3.x, we'll need to switch your working environment.

To run the cell, click on it to highlight it, then either press **Ctrl** + **Enter**, or press the triangular "play" button at the top of this panel:

In [1]:
import sys
print(sys.version)

3.12.2 | packaged by conda-forge | (main, Feb 16 2024, 20:42:31) [MSC v.1937 64 bit (AMD64)]

You should notice a few things. First, the square brackets (`[ ]`) have a number inside of them (`[1]`), and you can see the output of `print(sys.version)` below the cell.

Now that we know we're using the right version of python, run the following:

In [2]:
print("Hello, World!")

Hello, World!

The `print()` **function** ([documentation](https://docs.python.org/3/library/functions.html#print)) allows us to print messages and information to the screen, or to a file (more on this later), but it doesn't allow us to save the messages that we display. To do this, we first have to create an **object** using the **assignment operator**, `=`:

```python
foo = 'a message'
```

This will assign the value `'a message'` to a new object, `foo`.

In the cell below, type a line of code that will define a new **object**, `foo`, that stores the message `Hello, World!`. Then, print the message to the screen using the **variable** name you've just defined:

In [3]:
foo = 'everlong'
print(foo) # print the value of the object to the screen using print

everlong

Often, you will want to know how to use a particular function. To get help, we can use the built-in `help()` function ([documentation](https://docs.python.org/3/library/functions.html#help)). 

For example, to get more information on how to use the `print()` function:

In [4]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

This tells you the different *positional arguments* to `print()` (such as `value`), the *optional keyword arguments* (such as `file` or `sep`), as well as what `print()` does ("Prints the values to a stream, or to sys.stdout by default").
 
In jupyter/ipython, you can also use the ``?`` operator:

In [5]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

This is a lot of information for now, but if you want to know how to use a particular function, method, or class, you can find that help here. 

A warning, however: some python packages are better-documented than others (which is why we should always provide thorough documentation when writing our own code, right?)

## objects and variables

We have already seen one example of an **object**, `foo` (the **variable** name), above. Objects store temporary information that can be manipulated or changed as we type commands or run scripts.

One important thing to remember is that the *name* of an **object** is *case-sensitive* (meaning that `foo` is different from `Foo`):

In [8]:
print(Foo) # this won't work, because we haven't created an object called Foo yet

NameError: name 'Foo' is not defined

We'll see more examples of error messages later (and how to interpret them), but hopefully the message:

```pytb
    NameError: name 'Foo' is not defined

```

is clear enough. Because we were expecting this error message, we can ignore it and move on for now.

As we covered in this week's lecture, in python, variable names can consist of letters, digits, or underscores, but they __cannot__ begin with a digit. If you try to name a __variable__ using an illegal name, you will get a `SyntaxError`:

In [9]:
3var = "this won't work"

SyntaxError: invalid decimal literal (1145266503.py, line 1)

Here, we see a `SyntaxError` raised - this means that the code we have written violates the *syntax* (grammar) of the language. We'll look more at different error types in the debugging exercise later on.

## numeric operations

A large part of what we will use python for is the manipulation of numeric data. Thus, it is a good idea for us to understand how python treats numeric data. In the cell below, we first define two objects, `x` and `y`, and assign then values of 2 and 3, respectively.

Before you run the cell, look at the print statements - these will show which operators are being used (`+`, `-`, `*`, etc.), along with the output of the operation using the variables `x` and `y`.  Think about what you exect the results to be - when you run the cell, do the outputs match your expectation? Why or why not?

In [10]:
x = 2
y = 3

print(f"x + y = {(x+y)}") # print the value of x + y (addition)
print(f"x - y = {(x-y)}") # print the value of x - y (subtraction)
print(f"x * y = {(x*y)}") # print the value of x * y (multiplication)
print(f"x / y = {(x/y)}") # print the value of x / y (division)
print(f"x // y = {(x//y)}") # print the value of x // y (floor division)
print(f"x ** y = {(x**y)}") # print the value of x ** y (exponentiation)
print(f"x % y = {(x%y)}") # print the value of x % y (modular division)
print(f"x ^ y = {(x^y)}") # print the value of x ^ y (bitwise XOR)

x + y = 5
x - y = -1
x * y = 6
x / y = 0.6666666666666666
x // y = 0
x ** y = 8
x % y = 2
x ^ y = 1

Most of these should be fairly straightforward, except perhaps for the last two (`%` and `^`). The `%` ("modular" operator) returns the remainder of dividing two numbers. The `^` ("bitwise XOR" or "bitwise exclusive or") does something a little more involved - for more information about bitwise operators in general, see this [Wikipedia article](https://en.wikipedia.org/wiki/Bitwise_operation#Bitwise_operators).

Note also how we're using `print()` here, with a "[formatted string literal](https://docs.python.org/3/tutorial/inputoutput.html#tut-f-strings)" (or "**f-String**", `f"{}"`). By prefixing the string with the letter `f`, we can include the value of an expression inside the string, using the `{ }` operators. We'll look at more examples of how to use these later on, including how we can format numbers inside of strings.

## string objects and operations

We have already worked with one example of a **str**ing object, `foo`. As noted in the lecture, we can easily access parts of a string by using the desired index inside square brackets `[ ]`. Remember that the index starts from 0, and it has to be an **int**eger value:

In [11]:
foo[0]

'e'

If we use a **float**ing point value, it raises a `TypeError`:

In [12]:
foo[0.0] # slice indices have to be integers, not floats!

TypeError: string indices must be integers, not 'float'

As an additional example, to get the 3rd character in `foo`, we would type `foo[2]` at the prompt and press ENTER:

In [13]:
foo[2] # get the 3rd character in foo

'e'

Why does this give us the third character from `foo`? Well, remember that the first element of a __str__ (or any sequence; more on that later) has an index of 0 - so, the third element has an index of 2. 

To access the last element of a __str__ (or a sequence), we could count up all of the elements of the __str__ and subtract one (remember that we start counting at 0, not 1), but python gives us an easier way: __negative indexing__. Negative indexing starts from the end of the string (after all of the 

Thus, to get the last element of `foo`, we can type `foo[-1]`. To get the second-to-last element, we could type `foo[-2]`, and so on:

In [14]:
foo[-1] # get the last character in myString

'g'

If we want to access more than one element of the string, we can use multiple indices, with the basic form of:

```python
sliced = myString[first:last]
```

This will select the letters of the string starting at index `first` up to, __but not including__, `last`.

This is also called __slicing__. Before running the cell below, think about what the result should be. Does it match your expectation?

In [15]:
foo[1:5]

'verl'

If we want to find an element in a string, we can use the helpfully-named built-in function (or method) `find()`. For example, typing `foo.find('W')` will return the index of the letter `W`:

In [17]:
foo.find('r') # find the index of the character W in myString

3

Note that if a given letter (or pattern) occurs more than once, `.find()` will only tell us the index of the *first* occurrence:

In [18]:
foo.find('l') # will tell us the index of the first

4

Have a look at the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods) for `str` to see if you can find a method that will give you the index of the *last* occurrence of a pattern in a string, then use that in the cell below to find the index of the last `l`:

In [19]:
foo.rindex('l')  # will tell us the index of the last

4

If the pattern isn't found in the string, `find()` returns a value of `-1`:

In [20]:
foo.find('a') # what will this return?

-1

As you can see from the documentation linked above, **str** objects have a wide range of methods available. We won't go through these in detail, but we will make use of more of them over the remainder of this class.

Finally, we'll look at some of the operators that we can use with **str** objects. Although we canâ€™t subtract or divide strings, we do have two operators at our disposal: `+` (concatenation) and `*` (repeated concatenation). 

Before running the cell below, what do you expect will be stored in each variable below? Does the result match what you expected?

-  `newString = "Hello" + "World!"`
-  `repString = "Hello" * 5`

In [21]:
newString = "Hello" + "World!"
repString = "Hello" * 5

print(f'newString is: {newString}')
print(f'repString is: {repString}')

newString is: HelloWorld!
repString is: HelloHelloHelloHelloHello

## lists

**list**s are an incredibly powerful and versatile data type we can use in python to store a sequence of values. 

Any other data type can be inserted into a __list__, including other **list**s. Run the following cell to see how we can create a new __list__ object:

In [22]:
fruits = ["Apple", "Banana", "Melon", "Grapes", "Raspberries"]
print(fruits)

['Apple', 'Banana', 'Melon', 'Grapes', 'Raspberries']

Like with __str__ objects, we can access and manipulate __list__ objects using indexing and slicing techniques, in much the same way.

Can you write a command below to `print()` 'Grapes' by using the corresponding index from `fruits`?

In [23]:
print(fruits[3]) #insert the correct command inside the ()

Grapes

If we want to access more than one element of a list, we can slice the list, using the same syntax as with the `myString` examples above.

What do you think will print when you run the cell below?

In [24]:
fruits[2:-1] # think about what this output will look like

['Melon', 'Grapes']

What about this cell?

In [25]:
fruits[2:-1][0] # what will this show?

'Melon'

and finally, what about this?

In [26]:
fruits[2:-1][0][-1]

'n'

As you can see from the examples above, while indexing a **list** returns the value of a single element, a **list** slice is itself a **list**. This difference is subtle, but important to remember.

## classes, functions and methods

In programming, a __function__ is essentially a short program that we can use to perform a specific action. 

Functions take in __parameters__ in the form of __arguments__, and (often, but not always) return a result, or otherwise perform an action. 

Parameters can be __positional__ (in other words, the order they are given matters), or they can be __keyword__ (i.e., you specify the argument with the parameter name, in the form `parameter=value`). 

Python has a number of built-in functions for us to  - we have already seen a few examples such as `print()` and `help()`. As another example, instead of typing `2 ** 8` earlier, we could instead have typed `pow(2,8)`:

In [27]:
print('using the ** operator: {}'.format(2**8))
print('using the pow() function: {}'.format(pow(2, 8)))

using the ** operator: 256
using the pow() function: 256

Here, we are calling the function `pow()` and supplying the __positional__ arguments `2` and `8`. 
The result returned is the same, `256` (or 2<sup>8</sup>), but the approach used is different. 

If you want to see a list of __built-in__ functions and classes in python, have a look at the python [documentation](https://docs.python.org/3/library/functions.html).

Alternatively, you can type `print(dir(__builtins__))` (note the two underscores on either side of __builtins__):

In [28]:
print(dir(__builtins__)) # show a list of all of the builtin functions

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

While it may not be completely clear at first what each of these things are, remember that we can use the `help()` __function__ to get more information. 

For example, one very useful built-in __class__ is `range` ([documentation](https://docs.python.org/3/library/stdtypes.html#range)).

To create a new __range__ object, we call it like we would a function:

```python
range(stop)
range([start,] stop [,step])
```

"Under the hood", so to speak, this is actually calling the **\_\_init\_\_()** method of the __class__, which is the __function__ that python uses to _initialize_, or create, a new object.

Note that `range()` takes between one and three arguments:

* `range(stop)` creates a __range__ object that will "count" from 0 up to (__but not including__) `stop`, incrementing by 1.
* `range(start, stop)` creates a __range__ object that will "count" from `start` up to (__but not including__) `stop`, incrementing by 1.
* `range(start, stop, step)` creates a __range__ object that will "count" from `start` to (__but not including__) `stop`, incrementing by `step`.

To pass multiple parameters to a function, we separate each parameter by a comma. 

In the cell below, write a statement that returns a list of numbers counting from a `start` of 10 to 0 (inclusive).

In [29]:
ii = list(range(10, -1, -1))
print(ii)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

A __method__ is a type of __function__ that acts directly on an object - we have seen examples of this already with `str.find()`. In general, methods are called just like functions - the general syntax is `object.method(arguments)`. 

For example, __str__ objects have a __method__, `.count()` [documentation](https://docs.python.org/3/library/stdtypes.html#str.split), which counts the number of times a character (or substring) occurs in the __str__. 

If you type `topic = "Geographic Information Systems"` into the interpreter, what would you expect the result of `topic.count("i")` to be? What about `topic.count("s")`?

In [30]:
topic = "Geographic Information Systems"
print(topic.count("i"))
print(topic.count("s"))

2
2

Another powerful __str__ method is `str.split()`, which returns a __list__ of the given __str__, split into substrings based on the delimeter provided as an argument:

In [31]:
help(topic.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \n \r \t \f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits.
        -1 (the default value) means no limit.

    Splitting starts at the front of the string and works to the end.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

From this, we can see that if we call `topic.split()` without any arguments at all, it will split `topic` based on any whitespace and discard any _empty_ strings. 

That is, if we have multiple spaces in our string, it will treat those as a single space:

In [32]:
singlespace = 'Geographic Information Systems'
multispace = 'Geographic   Information  Systems'

print(singlespace.split())
print(multispace.split())

['Geographic', 'Information', 'Systems']
['Geographic', 'Information', 'Systems']

If we want to specify a single space character (`' '`), though, the result will change:

In [33]:
print(singlespace.split(' ')) # split on a single space
print(multispace.split(' ')) # split on a single space

['Geographic', 'Information', 'Systems']
['Geographic', '', '', 'Information', '', 'Systems']

Using `str.split()` and an additional method to change all of the letters in the __str__ to _lower_\ -case, can you get the following result in the cell below?

```python
['remote ', 'en', 'ing and geographic information ', 'y', 'tem', '']
```

In [34]:
topic = 'Remote Sensing and Geographic Information Systems'
print(topic.split('s')) # edit this line to get the result shown above

['Remote Sen', 'ing and Geographic Information Sy', 'tem', '']

## defining our own functions

Often, we will want to define our own **function**s. Using functions has many benefits, including:
* improving readability,
* eliminating repetitive code,
* allowing for easier debugging of a program,
* and even allowing us to re-use code in other scripts/programs.

Defining a __function__ in python is quite easy. 

We begin the definition with a `def` __statement__ that includes the function name and all parameters (this first line is called the __header__). The header must end with a colon (`:`):

```python
def cat_twice(str1, str2):
```

The __body__ of the function (i.e., the set of instructions that make up the function) are _indented_ - like other forms of flow control in python, once the interpreter sees a non-indented line, it marks the end of the function:

```python
def cat_twice(str1, str2):
   cat = str1 + str2
   print(cat) # this is part of the function
   print(cat) # this is part of the function

# this is no longer part of the function
```

To help illustrate this, let's define a function for calculating the area of a circle. Mathematically, this is a function of the radius of the circle - equal to the constant pi multiplied by the radius squared. Run the cell below to create the new function, and then test it:

In [35]:
from math import pi # import the constant pi from the math module

def circle_area(radius):
    area = pi * radius ** 2 # calculate the area of the circle using the radius argument
    return area # use return to get a value back from the function

circle_area(10) # get the area of a circle with radius 10 (should be 314.15926 ...)

314.1592653589793

Remember that if we want to return something from a function, we use a `return` __statement__, followed by the variable(s) that we want to return:

```python
def cat_twice_return(str1, str2):
    cat = str1 + str2
    print(cat)
    print(cat)
    return cat
```

In the cell below, I've started two more functions for calculating the surface area and volume of a sphere. For each function, fill in the code that will return the correct result, then confirm that your function output matches the values shown in the comment on each line.

In [37]:
def sphere_area(radius):
    return 4 * pi * radius ** 2

def sphere_volume(radius):
    return (4/3) * pi * radius ** 3

print(sphere_area(10)) # get the surface area of a sphere with radius 10 (should be 1256.637)
print(sphere_volume(10)) # get the volume of a sphere with radius 10 (should be 4188.79)

1256.6370614359173
4188.790204786391

## controlling flow

Some of the most important uses that we'll have for programming are repeating tasks and executing different code based on some condition. For example, we might want to loop through a list of files and run a series of commands on each file, or apply an analysis only if the right conditions are met. 

In python, we can use the `while`, `for`, and `if` operators to control the flow of our programs. 

For example, given a number, we might want to check whether the value is positive, negative, or zero, and perform a different action based on which condition is `True`:

In [ ]:
def pos_neg_zero(x): # a function to tell us whether a number is positive, negative, or 0
    if x > 0: # if x > 0, print that it is positive
        print(f'{x} is a positive number')
    elif x < 0: # if x < 0, print that it is negative
        print(f'{x} is a negative number')
    else: # if 
        print(f'{x} is zero')

Here, we take in a number, `x`, and execute code based on whether `x` is positive, negative, or zero.

Like the header of a function, an `if` __statement__ has to be terminated with a colon (`:`). 

If we have multiple options, we can use an `elif` __statement__. There isn't a limit to the number of `elif` statements we can use, but note that the order matters - once a condition is evaluated as `True`, the indented code is executed and the whole block is exited. 

For this reason, an `else` __statement__ is optional, but it must always be last (since it automatically evaluates as `True`).

Run the cell below to see how the output of the function changes based on the input:

In [ ]:
pos_neg_zero(-1) # a negative number
pos_neg_zero(1) # a positive number
pos_neg_zero(False) # a weird one

Note that in the example above, `False` has evaluated as being equal to zero. This is because in python, **bool** ("Boolean") objects (`True` and `False`) are subclasses of **int**, and `False` has a value of `0`, while `True` has a value of `1`. For more on how python tests for truth values, see the [documentation](https://docs.python.org/3/library/stdtypes.html#truth-value-testing).

Now, in the cell below, write your own function that takes in two arguments `x` and `y`, and prints different output depending on which of the two numbers is larger:

In [ ]:
def which_is_greater(x, y):
    pass # replace this line with your code

Next, test your function by running the cell below - you should see "2 is greater than 1" printed in the first line, and "10 is less than 100" in the second:

In [ ]:
which_is_greater(2, 1) # say which is greater, 2 or 1
which_is_greater(10, 100) # say which is greater, 10 or 100

In addition to conditional flow, we might also want to repeat actions. For example, we can write a simple function that counts down to some event, then announces the arrival of that event. 

We could define this function using a `while` loop, making sure to update a variable in each step:

In [ ]:
def countdown(n):
    while n > 0:
        print(n)
        n -= 1 # note that this is the same as n = n - 1
    print("Blastoff!")
    
countdown(5)

Note the importance of updating the variable that we are testing in the loop. If we remove the `n -= 1` line, our function will never stop running (an __infinite loop__). 

`while` loops are useful for actions without a pre-defined number of repetitions. We could just as easily re-define `countdown()` using a `for` loop, using something else we've seen before:

In [ ]:
def countdown_for(n):
    for ii in range(n, 0, -1):
        print(ii)
    print("Blastoff!")

countdown_for(5) # run the function to count down from 5

This version uses `range` to iterate from `n` to 1 in increments of -1, printing the value of `i` each time - that is, we leave `n` unchanged. 

We can also use the `break` statement to **break** out of a loop:

In [ ]:
def break_example(n):
    # prints values from n to 1, then Blastoff!
    while True:  # here, the loop will always run
    # unless we reach a condition 
    # that breaks out of it:
        if n <= 0:
            break
        print(n)
        n -= 1
    print("Blastoff!")

break_example(5) # run the function to count down from 5

or the `continue` statement to continue to the next step of a loop:

In [ ]:
def continue_example(n):
    # given an integer, n, prints the values from 0 to n that are even.
    for x in range(n):
        if x % 2 == 1:
            continue
        print('{} is even'.format(x))

continue_example(10) # print the even integers from 0 to 9 (remember that range(n) is not inclusive!)

Using the information above, write a function that will print the values from 1 to an integer `n` that are even, unless those values are also divisible by 3 **or** 4:

In [ ]:
def evenNoThreesorFours(n):
    # given an integer n, prints values from 1 to n that are even, unless they are divisible by 3 or 4.
    for x in range(1, n):
        pass # your code goes here

(_Hint: remember that you can use the `%` operator to determine whether one number is divisble by another_).

## importing modules

Modules provide a convenient way to package functions and object classes, and load these items when needed. This also means that we only end up loading the functionality that we need, which helps save on memory and other resources. 

We have already imported one such module, the `sys` module, and above where we imported `pi` from the `math` module. Note that when we used `from`, we *only* imported the attribute `pi` - this means that we don't have access to any of the other functions, classes, or attributes within the `math` module - only `pi`. 

When we import the entire module, we can access the attributes, classes, functions, etc. using a `.`:

In [38]:
import math # import the entire math module

print(math.pi) # print the value of math.pi

3.141592653589793

When we specifically name the things we want to import, we only have access to those things - importing `pi` from `math` does not also import `floor` - hence, the error message when you run the cell below:

In [39]:
print(f'math.floor(10.19) is equal to: {math.floor(10.19)}') # print the output of math.floor(10.19)
print(f'floor(10.19) is equal to:      {floor(10.19)}') # print the output of floor(10.19)

math.floor(10.19) is equal to: 10

NameError: name 'floor' is not defined

To import multiple things from a single module, you can separate them by commas:

In [40]:
from math import pi, floor, sin, cos, tan # import pi, floor, sin, cos, and tan from math

## example: working with shapefiles

When using vector data in this course, we will primarily work with `geopandas` ([documentation](http://geopandas.org/)), "an open source project to make working with geospatial data in python easier." 

To work with the provided shapefile (`data_files/Glaciers.shp`), we first have to __import__ `geopandas` and load the data using `geopandas.read_file()`:

In [42]:
import geopandas as gpd
glacier_data = gpd.read_file('data_files/Glaciers.shp')

Note that in the cell above, we're using an _alias_ when we __import__ `geopandas`:

```python
import geopandas as gpd
```

This means that instead of having to write `geopandas` every time we want to use a __method__ or __class__ from the `geopandas` package, we instead type `gpd`. You will most likely see this syntax a lot - it's mostly used to make the code easier to read (or out of laziness).

### a note on filepaths

On Windows computers, filepaths are separated using `\`. For example, on my Windows machine, this notebook file has the following path:

```
C:\Users\bob\egm722\Week1\Practical1.ipynb
```

This is a problem in python, because `\` is a protected character -- specifically, it's either used as a line continuation to split a string over multiple lines:

```python
>>> mystring = 'this is a string that is split ' + \
...            'over multiple lines'
>>> print(mystring)
this is a string that is split over multiple lines
```

Inside of a string, `\` _escapes_ the next character - effectively, it makes the interpreter change how it processes it:

```python
>>> not_escaped = 'this isn't going to work'
  File "<stdin>", line 1
    not_escaped = 'this isn't going to work'
                            ^
SyntaxError: invalid syntax
```

In the example above, the single quote in "isn't" actually ends the __str__ - because mashing a string (`'this isn'`) and something else (`t going to work'`) doesn't work, python raises a `SyntaxError`.

But, we can use `\` to make python see that the single quote in the middle of the __str__ should be treated as part of the __str__:

```python
>>> escaped = 'this isn\'t going to cause a problem.'
>>> print(escaped)
this isn't going to cause a problem.
```

What this means is that when we're working with Windows paths in python, we have to do something competely different. When writing paths as __str__ objects, there are three main options:

1. replace `\` with `/`: `C:/Users/bob/egm722/Week1/Practical1.ipynb`
2. _escape_ the `\` chracter: `C:\\Users\\bob\\egm722\\Week1\\Practical1.ipynb`
3. use a __raw string literal__ by appending `r` before the start of the __str__: `r'C:\Users\bob\egm722\Week1\Practical1.ipynb'`

Option 1. has the advantage of working on multiple platforms. As an example, the _relative_ path:

```python
'data_files/Glaciers.shp'
```

will work on Windows, MacOS, and linux systems. Later in this module, we will see how we can use both the `os` ([documentation](https://docs.python.org/3/library/os.html)) and `pathlib` ([documentation](https://docs.python.org/3/library/pathlib.html)) modules to work with filepaths; if we're using python 3.4 or newer, the  module provides an even nicer way of working with filepaths.

### working with GeoDataFrames

Back to working with shapefile data. First, let's use `.head()` to have a look at the first few rows of data in our shapefile:

In [43]:
glacier_data.head() # show the first 5 rows of the table

,RGIID,GLIMSID,RGIFLAG,BGNDATE,ENDDATE,CENLON,CENLAT,O1REGION,O2REGION,AREA,ZMIN,ZMAX,ZMED,SLOPE,ASPECT,LMAX,GLACTYPE,NAME,geometry
0,RGI40-08.01398,G006462E59966N,000,20030809,20060916,6.46207,59.9663,8,1,0.115,1239,1352,1296,23.5,90,224,9099,None,"POLYGON ((6.45968 59.96954, 6.45965 59.96929, ..."
1,RGI40-08.01414,G006415E60121N,000,20030809,20060916,6.41519,60.1211,8,1,0.176,1291,1385,1335,12.9,0,532,9099,None,"POLYGON ((6.41323 60.12366, 6.41318 60.12315, ..."
2,RGI40-08.01415,G006422E60101N,000,20030809,20060916,6.42158,60.1011,8,1,4.352,1173,1578,1473,12.3,315,2814,9099,None,"POLYGON ((6.42682 60.11614, 6.42679 60.11589, ..."
3,RGI40-08.01416,G006291E60040N,010,20030809,20060916,6.29127,60.0398,8,1,2.764,1114,1683,1483,13.4,0,2749,9099,None,"POLYGON ((6.30861 60.04641, 6.30862 60.04637, ..."
4,RGI40-08.01417,G006256E60024N,010,20030809,20060916,6.25622,60.0240,8,1,2.974,1049,1691,1498,14.2,315,2937,9099,None,"POLYGON ((6.25752 60.03359, 6.25792 60.03346, ..."

Note that the data are stored in a table (a __GeoDataFrame__), much like the attribute table in ArcMap. One small difference is the additional column, `geometry`, which stores the geometry for each feature (in this case, a `polygon`). 

One thing that we might be interested in, is the number of features stored in our dataset. Within a script, the best way to do this is by using the `shape` of the __GeoDataFrame__, which prints out the size of the __GeoDataFrame__ in (rows, columns):

In [44]:
rows, cols = glacier_data.shape # get the number of rows, columns in the table
print('Number of features: {}'.format(rows))

Number of features: 62

We can also use the `len()` built-in to print out the number of rows:

In [45]:
print('Number of features: {}'.format(len(glacier_data))) # should give us the same as before

Number of features: 62

We can also perform calculations on the data, get statistics, etc. Many of these are built-in methods that can be called on an individual column. 

We can access individual columns in two ways. We'll stick with the "normal" way for now, but we'll revisit the other method later on in another lab. The normal way is by indexing with the column name (i.e., `dataframe['column_name']`). 

If we want to see what columns are available in the data table, we can look at the `columns` __attribute__ of the table:

In [46]:
glacier_data.columns # see the names of the columns in our table

Index(['RGIID', 'GLIMSID', 'RGIFLAG', 'BGNDATE', 'ENDDATE', 'CENLON', 'CENLAT',
       'O1REGION', 'O2REGION', 'AREA', 'ZMIN', 'ZMAX', 'ZMED', 'SLOPE',
       'ASPECT', 'LMAX', 'GLACTYPE', 'NAME', 'geometry'],
      dtype='object')

There are quite a few columns here, and most of them aren't so important for now. We might be interested in working with the __AREA__ column, though, to find out more about the size of glaciers in our study region. For example, to find the average glacier area in our dataset, we could type the following:

In [47]:
glacier_data['AREA'].mean() # get the mean value of the AREA column

3.252387096774194

This gives us the average area in square kilometers (the units of the column). What if, for some unfathomable reason, we wanted the glacier areas to be stored in square feet? We could do this by updating the column directly:

In [48]:
glacier_data['AREA'] = glacier_data['AREA'] * 1e6 * 3.2808399 * 3.2808399 # km2 x m2/km2 X ft/m x ft/m
glacier_data['AREA'].mean()

35008403.45656558

But, just in case we didn't want to lose the sensible units, we could also have created a new column:

In [49]:
glacier_data['AREA_SQKM'] = glacier_data['AREA'] / 1e6 / 3.2808399 / 3.2808399  # the reverse of the above
glacier_data['AREA_SQKM'].mean()

3.252387096774194

## example: converting text data into shapefiles

Another useful package we'll make use of is `pandas` ([documentation](https://pandas.pydata.org/)), a powerful data analysis package that provides the basis for `geopandas` (as you perhaps guessed by the name). In this example, we'll take a Comma Separated Value (__CSV__) file representing data about lakes from around the world, and convert this into a shapefile that we can load into ArcGIS, QGIS, or other GIS software.

First, let's import the necessary modules and load the data:

In [51]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

df = pd.read_csv('data_files/GPSPoints.txt')

Like we did with the `geopandas` data above, let's have a look at the `DataFrame` we've just loaded:

In [52]:
df.head()

,area,lon,lat,id,level,max_depth,name,parent_id,sibling_id,source,date
0,371000,50.7974,41.7510,145424,2,1025.0,Caspian Sea,0,180487,WDBII,2000-03-17
1,59600,-82.2559,44.9583,145425,2,229.0,Lake Huron,2,180488,WDBII,2009-11-15
2,31722,107.7016,53.4145,145429,2,1642.0,Lake Baikal,0,180492,WDBII,2013-10-02
3,31153,-120.9532,66.0093,145430,2,446.0,Great Bear Lake,2,180493,WDBII,2012-02-02
4,27200,-113.7628,61.7776,145431,2,614.0,Great Slave Lake,2,180494,WDBII,2006-08-20

Here, we see a number of lake names, with accompanying data such as the lake area (presumably in square kilometers?), the maximum depth (missing for some lakes), Lat/Lon information, and so on. 

A `GeoDataFrame` can hold lots of different data, but it absolutely must have a column that specifies the geometry of the features in the table. Given that we only have point information (a single Lat/Lon coordinate) for each lake, it makes sense to create a `Point` object for each feature using that point. 

One way that we can do this by first using the python built-in __zip__, then the __apply__ method of the `DataFrame` to create a point object from the list of coordinates.

In [53]:
df['geometry'] = list(zip(df['lon'], df['lat'])) # zip is an iterator, so we use list to create 
                                                 # something that pandas can use.
df['geometry'] = df['geometry'].apply(Point) # using the 'apply' method of the dataframe, 
                                             # turn the coordinates column
                                             # into points (instead of a tuple of lat, lon coordinates).
                                             # NB: Point takes (x, y) coordinates

Let's look at the `DataFrame` again. We should have a `geometry` column, with the lat/lon coordinates for each feature:

In [54]:
df

,area,lon,lat,id,level,max_depth,name,parent_id,sibling_id,source,date,geometry
0,371000,50.7974,41.7510,145424,2,1025.0,Caspian Sea,0,180487,WDBII,2000-03-17,POINT (50.7974 41.751)
1,59600,-82.2559,44.9583,145425,2,229.0,Lake Huron,2,180488,WDBII,2009-11-15,POINT (-82.2559 44.9583)
2,31722,107.7016,53.4145,145429,2,1642.0,Lake Baikal,0,180492,WDBII,2013-10-02,POINT (107.7016 53.4145)
3,31153,-120.9532,66.0093,145430,2,446.0,Great Bear Lake,2,180493,WDBII,2012-02-02,POINT (-120.9532 66.0093)
4,27200,-113.7628,61.7776,145431,2,614.0,Great Slave Lake,2,180494,WDBII,2006-08-20,POINT (-113.7628 61.7776)
5,29600,34.5098,-11.9643,145432,2,706.0,Lake Malawi,1,180495,WDBII,2010-04-05,POINT (34.5098 -11.9643)
6,25667,-81.2358,42.1555,145433,2,64.0,Lake Erie,2,180496,WDBII,2013-10-28,POINT (-81.2358 42.1555)
7,24514,-97.8114,52.6031,145434,2,36.0,Lake Winnipeg,2,180497,WDBII,2011-11-10,POINT (-97.8114 52.6031)
8,19000,-77.7592,43.6671,145435,2,244.0,Lake Ontario,2,180498,WDBII,2007-02-15,POINT (-77.7592 43.6671)
9,17891,31.4610,60.8466,145436,2,230.0,Lake Ladoga,0,180499,WDBII,2003-04-15,POINT (31.461 60.8466)
10,16996,75.6321,46.2842,145437,2,26.0,Lake Balkash,0,180500,WDBII,2009-10-31,POINT (75.6321 46.2842)
11,1350,14.0564,13.1940,145438,2,11.0,Lake Chad,1,180501,WDBII,2004-02-12,POINT (14.0564 13.194)
12,4380,28.4338,62.0452,145439,2,82.0,Storsaimen,0,180502,WDBII,2009-02-06,POINT (28.4338 62.0452)
13,9894,35.3822,61.7853,145440,2,127.0,Lake Onega,0,180503,WDBII,2009-08-18,POINT (35.3822 61.7853)
14,8264,-85.3904,11.5322,145442,2,26.0,Lake Nicaragua,2,180505,WDBII,2000-01-04,POINT (-85.3904 11.5322)
15,7850,-109.3507,59.1734,145443,2,124.0,Lake Athabasca,2,180506,WDBII,2009-04-18,POINT (-109.3507 59.1734)
16,8372,-69.3648,-15.8825,145444,2,281.0,Lake Titicaca,3,180507,WDBII,2008-03-17,POINT (-69.3648 -15.8825)
17,6405,36.1790,3.5880,145445,2,109.0,Lake Turkana,1,180508,WDBII,2011-01-17,POINT (36.179 3.588)
18,5650,-102.3784,57.2870,145446,2,219.0,ReinsjÃ¸en,2,180509,WDBII,2013-07-22,POINT (-102.3784 57.287)
19,6236,77.2663,42.4381,145447,2,668.0,Issyk-Kul,0,6236,WDBII,2005-06-09,POINT (77.2663 42.4381)
20,5650,13.2708,58.9076,145448,2,106.0,VÃ¤nern,0,180511,WDBII,2002-02-25,POINT (13.2708 58.9076)
21,82100,-87.7567,47.5367,145425,2,406.0,Lake Superior,2,180488,WDBII,1999-08-12,POINT (-87.7567 47.5367)
22,58000,-86.7612,44.0135,145425,2,281.0,Lake Michigan,2,180488,WDBII,2004-10-03,POINT (-86.7612 44.0135)
23,5370,-100.1435,52.5566,145451,2,12.0,Lake Winnipegosis,2,180514,WDBII,2014-03-03,POINT (-100.1435 52.5566)
24,4624,-98.6423,50.9195,145455,2,7.0,Lake Manitoba,2,180518,WDBII,2012-07-20,POINT (-98.6423 50.9195)
25,4848,-88.5262,49.8306,145456,2,165.0,Lake Nipigon,2,180519,WDBII,2014-05-25,POINT (-88.5262 49.8306)
26,4560,102.0923,74.5772,145458,2,26.0,Lake Taymyr,0,180521,WDBII,2013-06-08,POINT (102.0923 74.5772)
27,4168,-94.7027,49.2872,145459,2,64.0,Lake of the Woods,2,180522,WDBII,2006-10-02,POINT (-94.7027 49.2872)
28,1320,-100.1255,53.5496,145461,2,10.0,Cedar Lake,2,180524,WDBII,2003-01-27,POINT (-100.1255 53.5496)
29,1070,25.9600,62.1873,145466,2,96.0,PÃ¤ijÃ¤nne,0,180529,WDBII,2006-04-27,POINT (25.96 62.1873)
30,3833,-101.4030,63.1110,145470,2,NaN,Dubawnt Lake,2,180533,WDBII,2010-11-22,POINT (-101.403 63.111)
31,3555,27.5429,58.5428,145471,2,15.0,Lake Peipus,0,180534,WDBII,2001-04-14,POINT (27.5429 58.5428)
32,3115,-71.2279,64.9084,145476,2,NaN,Lake Amadjuak,11,180539,WDBII,2016-11-05,POINT (-71.2279 64.9084)
33,68800,32.9078,-1.1007,145426,2,83.0,Lake Victoria,1,180489,WDBII,2004-12-30,POINT (32.9078 -1.1007)

We could simply create a `GeoDataFrame` from this `DataFrame`, but let's first remove a few extra columns from the table:

In [55]:
del df['lat'], df['lon'] # we don't really need these, since they're in the 'geometry' column now

Next, let's change the units of the `area` column to be in square meters (assuming that they are currently in square kilometers):

In [59]:
df['area'] /1000000 # modify this cell to convert the area column to square meters here

0     0.371000
1     0.059600
2     0.031722
3     0.031153
4     0.027200
5     0.029600
6     0.025667
7     0.024514
8     0.019000
9     0.017891
10    0.016996
11    0.001350
12    0.004380
13    0.009894
14    0.008264
15    0.007850
16    0.008372
17    0.006405
18    0.005650
19    0.006236
20    0.005650
21    0.082100
22    0.058000
23    0.005370
24    0.004624
25    0.004848
26    0.004560
27    0.004168
28    0.001320
29    0.001070
30    0.003833
31    0.003555
32    0.003115
33    0.068800
Name: area, dtype: float64

Now we can create a new `GeoDataFrame` from the `DataFrame`:

In [61]:
gdf = gpd.GeoDataFrame(df)

We also want to remember to set the spatial reference information, so that our GIS software knows what reference frame our data use. For this, we'll use the EPSG code representing WGS84 Lat/Lon, 4326. EPSG codes are a concise way to refer to a given reference system - more information about them (and a comprehensive list of codes) can be found [here](http://spatialreference.org/).

In [62]:
gdf = gdf.set_crs("EPSG:4326") # this sets the coordinate reference system to epsg:4326, wgs84 lat/lon

Let's take another look at the `GeoDataFrame`:

In [63]:
gdf

,area,id,level,max_depth,name,parent_id,sibling_id,source,date,geometry
0,371000,145424,2,1025.0,Caspian Sea,0,180487,WDBII,2000-03-17,POINT (50.79740 41.75100)
1,59600,145425,2,229.0,Lake Huron,2,180488,WDBII,2009-11-15,POINT (-82.25590 44.95830)
2,31722,145429,2,1642.0,Lake Baikal,0,180492,WDBII,2013-10-02,POINT (107.70160 53.41450)
3,31153,145430,2,446.0,Great Bear Lake,2,180493,WDBII,2012-02-02,POINT (-120.95320 66.00930)
4,27200,145431,2,614.0,Great Slave Lake,2,180494,WDBII,2006-08-20,POINT (-113.76280 61.77760)
5,29600,145432,2,706.0,Lake Malawi,1,180495,WDBII,2010-04-05,POINT (34.50980 -11.96430)
6,25667,145433,2,64.0,Lake Erie,2,180496,WDBII,2013-10-28,POINT (-81.23580 42.15550)
7,24514,145434,2,36.0,Lake Winnipeg,2,180497,WDBII,2011-11-10,POINT (-97.81140 52.60310)
8,19000,145435,2,244.0,Lake Ontario,2,180498,WDBII,2007-02-15,POINT (-77.75920 43.66710)
9,17891,145436,2,230.0,Lake Ladoga,0,180499,WDBII,2003-04-15,POINT (31.46100 60.84660)
10,16996,145437,2,26.0,Lake Balkash,0,180500,WDBII,2009-10-31,POINT (75.63210 46.28420)
11,1350,145438,2,11.0,Lake Chad,1,180501,WDBII,2004-02-12,POINT (14.05640 13.19400)
12,4380,145439,2,82.0,Storsaimen,0,180502,WDBII,2009-02-06,POINT (28.43380 62.04520)
13,9894,145440,2,127.0,Lake Onega,0,180503,WDBII,2009-08-18,POINT (35.38220 61.78530)
14,8264,145442,2,26.0,Lake Nicaragua,2,180505,WDBII,2000-01-04,POINT (-85.39040 11.53220)
15,7850,145443,2,124.0,Lake Athabasca,2,180506,WDBII,2009-04-18,POINT (-109.35070 59.17340)
16,8372,145444,2,281.0,Lake Titicaca,3,180507,WDBII,2008-03-17,POINT (-69.36480 -15.88250)
17,6405,145445,2,109.0,Lake Turkana,1,180508,WDBII,2011-01-17,POINT (36.17900 3.58800)
18,5650,145446,2,219.0,ReinsjÃ¸en,2,180509,WDBII,2013-07-22,POINT (-102.37840 57.28700)
19,6236,145447,2,668.0,Issyk-Kul,0,6236,WDBII,2005-06-09,POINT (77.26630 42.43810)
20,5650,145448,2,106.0,VÃ¤nern,0,180511,WDBII,2002-02-25,POINT (13.27080 58.90760)
21,82100,145425,2,406.0,Lake Superior,2,180488,WDBII,1999-08-12,POINT (-87.75670 47.53670)
22,58000,145425,2,281.0,Lake Michigan,2,180488,WDBII,2004-10-03,POINT (-86.76120 44.01350)
23,5370,145451,2,12.0,Lake Winnipegosis,2,180514,WDBII,2014-03-03,POINT (-100.14350 52.55660)
24,4624,145455,2,7.0,Lake Manitoba,2,180518,WDBII,2012-07-20,POINT (-98.64230 50.91950)
25,4848,145456,2,165.0,Lake Nipigon,2,180519,WDBII,2014-05-25,POINT (-88.52620 49.83060)
26,4560,145458,2,26.0,Lake Taymyr,0,180521,WDBII,2013-06-08,POINT (102.09230 74.57720)
27,4168,145459,2,64.0,Lake of the Woods,2,180522,WDBII,2006-10-02,POINT (-94.70270 49.28720)
28,1320,145461,2,10.0,Cedar Lake,2,180524,WDBII,2003-01-27,POINT (-100.12550 53.54960)
29,1070,145466,2,96.0,PÃ¤ijÃ¤nne,0,180529,WDBII,2006-04-27,POINT (25.96000 62.18730)
30,3833,145470,2,NaN,Dubawnt Lake,2,180533,WDBII,2010-11-22,POINT (-101.40300 63.11100)
31,3555,145471,2,15.0,Lake Peipus,0,180534,WDBII,2001-04-14,POINT (27.54290 58.54280)
32,3115,145476,2,NaN,Lake Amadjuak,11,180539,WDBII,2016-11-05,POINT (-71.22790 64.90840)
33,68800,145426,2,83.0,Lake Victoria,1,180489,WDBII,2004-12-30,POINT (32.90780 -1.10070)

Finally, let's save the `GeoDataFrame` as a shapefile, which you can open in your GIS software of choice:

In [64]:
gdf.to_file('lake_points.shp')

Load your shapefile into a GIS software package such as ArcGIS Pro or QGIS - does everything look right? If not, go back through the steps and see if you can find where you went wrong. 

Can you make a map that looks like this one below in your GIS software of choice? Give it a try! 

By the end of the module, you should be able to put together a map like this using python.

![](imgs/lake_map.png)

Obviously, this is only a beginning, but hopefully you've gotten a taste for what we can do with python. Feel free to explore more, read through some documentation, and ask questions.